/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-big-calendar/lib/css/react-big-calendar.css';

body {
  @apply bg-tec-gris-claro text-tec-texto;
  height: 100vh;
}

/* Ajustes sutiles del calendario */
.rbc-calendar {
    @apply font-sans;
}
.rbc-header {
    @apply py-4 text-tec-azul uppercase text-xs font-bold tracking-wider border-b-2 border-gray-100;
}
.rbc-today {
    @apply bg-blue-50;
}
.rbc-event {
    @apply shadow-sm;
}